@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif !important;
  @apply bg-violet-100;
}

.container {
  @apply mx-auto w-full px-4;
  max-width: 1140px;
}

.header__container {
  @apply mx-auto w-full px-14;
  max-width: 2000px;
}

.filter--active {
  @apply bg-orange-500 text-white;
}

#heroSection {
  height: 100vh !important;
}

.gradient__text {
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text;
  -webkit-text-fill-color: transparent !important;
}
