@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header__container {
    @apply 2xl:max-w-7xl mx-auto px-3 lg:px-6 py-3;
  }

  .container {
    @apply 2xl:max-w-6xl mx-auto px-3 lg:px-6 py-3;
  }

  .gradient__text {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text;
    -webkit-text-fill-color: transparent !important;
  }

  .overlay {
    @apply bg-[url('/images/bg-grid.svg')] h-screen w-full absolute -top-10 left-0 right-0 -z-[1] bg-contain bg-no-repeat;
  }

  .gradient-btn {
    @apply inline-block px-6 py-3 text-sm no-underline uppercase text-center text-white tracking-wider font-medium md:font-semibold rounded-full bg-gradient-to-r from-pink-500 to-violet-600 transition-all duration-200 ease-out hover:text-white hover:no-underline;
  }
}

body {
  font-family: 'Poppins', sans-serif !important;
  background-color: #0d1224 !important;
}

html {
  scroll-padding-top: 60px !important;
}

.filter--active {
  @apply bg-orange-500 text-white;
}

.slick-slide {
  @apply opacity-30;
}

.slick-active {
  @apply opacity-100;
}
